
#error-img{
    width: 50%;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column; /*acomo las partes en columna*/
    gap: 30px; /*espacio entre las filas y las columnas de la cuadrícula*/
    align-items: center;
    justify-content: center;
}
.descrip-error{
    font-family: 'Poppins',sans-serif;
    color:var(--text-color2);
    font-size: 1.7rem;
    font-weight: bold;
    padding: 1.25rem;
    text-align: center;
}
button{
    padding: 0.8rem 1.8rem;
    border-radius: 1rem;
    border: none;
    background: #0581f5;
    color: var(--text-color1);
}


