/******************* Fondo **********************/
#Banner{
    background-image: url(../../../assets/img/Foto-banner.jpg);
    background-position: top;
    margin:auto;
    background-repeat: no-repeat;
}