
<div class="horizontal-padding vertical-padding">
  <section class="habilidades" id="skills">
    <div class="container-fluid">
      <div class="container text-center">
        <div class="position-relative d-flex align-items-center justify-content-center">
          <h1 class="skills-title" style="-webkit-text-stroke: 2px #4ab7df;">Hard & Soft Skills</h1>
        </div>
      <div class="row align-items-center">
  
      <div class="col-md-6"> <!-- md(medium) resolucion de pantalla  ≥768px -->
   <!---- Barra HTML ---->
      <div class="skill mb-4"> <!--(margin-bottom-4) = (propiedad-lado-espacio)-->
        <div class="d-flex justify-content-between">
          <h6 class="tecnologia" >HTML</h6>  
          <h6 class="porcentaje">85%</h6>
        </div>
        <div class="progress"> <!--elemento indicador de progreso sacado de bootstrap-->
         <div class="progress-bar" id="html" role="progressbar" style="--w:85%"></div> <!-- defino la variable --w (=width) que me proporciona en cuanto se expande el progress-->
        </div>
      </div>
   <!---- Barra CSS ---->
      <div class="skill mb-4">
        <div class="d-flex justify-content-between">
          <h6 class="tecnologia">CSS</h6>
          <h6 class="porcentaje">85%</h6>
        </div>
        <div class="progress">
          <div class="progress-bar bg-primary" id="css" role="progressbar" style="--w:85%;"></div>
        </div>
      </div>
   <!---- Barra JAVASCRIPT ---->
      <div class="skill mb-4">
        <div class="d-flex justify-content-between">
          <h6 class="tecnologia">Javascript</h6>
          <h6 class="porcentaje">20%</h6>
        </div>
        <div class="progress">
          <div class="progress-bar" id="javascript" role="progressbar" style="--w:20%;"></div>
        </div>
      </div>
    </div> 
    
    <div class="col-md-6">
      <!---- Barra ANGULAR ---->
      <div class="skill mb-4">
        <div class="d-flex justify-content-between">
          <h6 class="tecnologia">Angular</h6>
          <h6 class="porcentaje">50%</h6>
        </div>
        <div class="progress">
         <div class="progress-bar bg-danger" id="angular" role="progressbar" style="--w:50%;"></div>
        </div>
      </div>
   <!---- Barra  ---->
      <div class="skill mb-4">
        <div class="d-flex justify-content-between">
          <h6 class="tecnologia">Ej</h6>
          <h6 class="porcentaje">75%</h6>
        </div>
        <div class="progress">
          <div class="progress-bar bg-info" id="ej" role="progressbar" style="--w:75%;"></div>
        </div>
      </div>
   <!---- Barra  ---->
      <div class="skill mb-4">
        <div class="d-flex justify-content-between">
          <h6 class="tecnologia">Ej</h6>
          <h6 class="porcentaje">40%</h6>
        </div>
        <div class="progress">
          <div class="progress-bar bg-dark" id="ej" role="progressbar" style="--w:40%;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>
</div>
