<div class="horizontal-padding vertical-padding">
  <section class="experience" id="experiencia">
    <div class="contenido-seccion">    
      <h1 class="experience-title" style="-webkit-text-stroke: 2px #4ab7df;">Experiencia</h1> <!-- -webkit-text-stroke es una propiedad de Css que especifica el ancho y el color de los trazos de los caracteres de texto-->
      </div>
        <div class="fila">
          <!----------- EDUCACION ------------------>
          <div class="col izquierda">
              <h2 class="subtitle">Académica</h2>
              <div class="item izq">
              <h3 class="nombre-institucion">Instituto IMEI</h3>
                <h4 class="title-academica">Bachillerato en Ciencias Naturales</h4>
                  <span class="date">Enero 2015 - Diciembre 2019</span>
                  <p>Escolta de la bandera del Instituto durante el ciclo lectivo 2019.
                    Becado por mejor promedio en los ciclos lectivos 2017, 2018 y 2019.</p>
                </div>
              <div class="item izq">
                <h3 class="nombre-institucion">Argentina Programa</h3>
                  <h4 class="title-academica">#SeProgramar</h4>
                  <span class="date">Abril 2022 - Junio 2022</span>
                  <p>Durante la primera etapa de Argentina Programa, obtuve una introducción 
                    a la programación explorando varios lenguajes tales como: Gobstones, Ruby y 
                    JavaScript.</p>
                </div>
              <div class="item izq">
                <h3 class="nombre-institucion">Argentina Programa</h3>
                  <h4 class="title-academica">#YoProgramo</h4>
                  <span class="date">Octubre 2021 - Mayo 2022</span>
                  <p>Ultima etapa de cursado, basado en el aprendizaje de diseño de software 
                    FronEnd y BackEnd. Tecnologias y lenguajes aprendidos: Html, Css, JavaScript, 
                    Angular, Git Hub, MySql, Java..... </p>
                </div>
              </div>
          <!----------- TRABAJOS------------------>
            <div class="col derecha">
              <h2 class="subtitle">Laboral</h2>
              <div class="item der">
                <h3 class="nombre-empresa">Bianco</h3>
                  <h4 class="title-laboral">Agente de ventas</h4>
                  <span class="date">Febrero 2021 - Abril 2021</span>
                  <p>Vendedor de productos para el hogar, sabanas, toallones, indumentaria, 
                    calzado, electrodomésticos y bazar.</p>
                </div>
                <div class="item der">
                  <h3 class="nombre-empresa">Coquimbito Beer Club</h3>
                    <h4 class="title-laboral">Bartender</h4>
                    <span class="date">Octubre 2021</span>
                    <p>Tareas realizadas: atención al público, elaboración de bebidas y cocteles 
                      adenás de proveer cerveza tirada de barril. </p>
                </div>
                <div class="item der">
                  <h3 class="nombre-empresa">Gulf</h3>
                    <h4 class="title-laboral">Expendedor de combustible</h4>
                    <span class="date">Diciembre 2021 - Abril 2022 </span>
                    <p>Tareas realizadas: administración de dinero, atención al público y manipulación
                       de combustibles líquidos y gaseosos.</p>
                </div>
              </div>
            </div>
            <!-- Uso carrusel para darle movimiento a los certificados-->
            <div class="container text-center" id="Carrusel"> 
              <div class="row">
                  <div id="carouselCertificados" class="carousel slide" data-bs-ride="carousel" data-bs-touch="true">
                    <div class="carousel-inner">
                      <div class="carousel-item active text-center">
                        <img src="../../../../assets/img/Certificado SeProgramar.jpeg" class="img-fluid" alt="CertificadoSeProgramar">
                      </div>
                      <div class="carousel-item">
                        <img src="../../../../assets/img/Certificado Git- GitHub.png" class="img-fluid" alt="CertificadoGitHub">
                      </div>
                    </div>   <!--Flechas para cambiar de img-->
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselCertificados" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselCertificados" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
              </div>
            </section>
          </div>