<!-------------- Navbar Menú ------------------------>
<header class="header">
  <nav class="navbar fixed-top">
    <div class="container-fluid">
      <div class="logo">
        <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank">
         <img src="../../../assets/img/Logo ARGPrograma negro" alt="Logo distintivo">
        </a>
      </div>
      <button class="open-menu" aria-label="Abrir menú">
        <i class="fa-solid fa-bars fa-2xl"></i>
      </button>
      <ul class="menu nav">
        <button class="close-menu" aria-label="Cerrar menú">
          <i class="fa-solid fa-arrow-left fa-2xl"></i>
        </button>
       <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Perfil</a></li>
       <li class="nav-item"><a class="nav-link" href="#experiencia">Experiencia</a></li>
       <li class="nav-item"><a class="nav-link" href="#skills">Habilidades</a></li>
       <li class="nav-item"><a class="nav-link" href="#proyectos">Proyectos</a></li>
       <li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a></li>
       
<!--Boton USER entrar-->
        <li class="btn" *ngIf="!onLogged">
          <i class="fa-solid fa-user-lock fa-2xl" type="button" data-bs-toggle="modal" data-bs-target="#loginModal"></i>
        </li>
        <!--Boton salir de USER-->
        <li class="btn" *ngIf="onLogged" (click)="outLog()"> <!--Boton de cerrar sesion se habilita si se cumple la condicion-->
          <i class="fa-solid fa-arrow-right-from-bracket fa-2xl" type="button"></i>
         </li>
      </ul>
    </div>
  </nav>
<app-login></app-login>
</header>
