<!--Navbar-->
<nav class="navbar navbar-expand-lg bg-primary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank">
        <img src="../../assets/img/Logo ARGPrograma negro" alt="" width="18%" height="">
      </a>
      <ul class="list-group list-group-horizontal">
        <a href="https://www.instagram.com/johnnygarciab/" target="_blank"><li class="list-group-item"><i class="fa-brands fa-instagram fa-2xl"></i></li></a>
        <a href="https://www.linkedin.com/in/johnny-garcia-74204a262/" target="_blank"><li class="list-group-item"><i class="fa-brands fa-linkedin-in fa-2xl"></i></li></a>
        <a href="https://mail.google.com/mail/u/0/?pli=1#inbox" target="_blank"><li class="list-group-item"><i class="fa-regular fa-envelope fa-2xl"></i></li></a>
        <a href="https://github.com/JohnnyGarcia8" target="_blank"><li class="list-group-item"><i class="fa-brands fa-github fa-2xl"></i></li></a>
        <!-- Button USER abierto-->
        <li class="list-group-item">
          <i class="fa-solid fa-user fa-2xl" data-bs-toggle="modal" data-bs-target="#loginModal"></i>
        </li>
      </ul>
    </div>
  </nav>
  
  
<app-banner></app-banner>
<app-perfil></app-perfil>
<app-acercade></app-acercade>
<app-experiencia></app-experiencia>
<app-educacion></app-educacion>
<app-habilidades></app-habilidades>
<app-proyectos></app-proyectos>
<app-footer></app-footer>