
<footer class="footer">
  <div class="container text-center" id="footer">
    <p id="contenedor-info">
      <font style="vertical-align: inherit;"> <!-- font(fuente) nos indica el tamaño, color, o fuente del texto que contiene-->
        <font style="vertical-align: inherit;"> Copyright © 2023.</font> <!--vertical-align puede usarse para alterar la ubicación vertical de un elemento-->
      </font>                                                             <!--inherit hace que el elemento al cual se aplica tome el valor calculado de la propiedad de su elemento padre-->
      <a href="#" class="return">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;"> Jonathan García </font>
          <i class="fa-solid fa-arrow-up-long"></i>
        </font>
      </a>
      <br>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;"> Todos los derechos reservados </font>
      </font>
    </p>
  </div>
</footer>