
<!---------------------- Perfil ---------------------->
<header id="banner">
<div class="horizontal-padding vertical-padding"> 
  <section class="profile" id="perfil">
    <div class="profile-info">
      <h3 class="profile-small-title">Bienvenido, soy </h3>
      <h1 class="profile-title">Jonathan García</h1>
      <h2 class="profile-titulo-academico">Desarrolador Full Stack Jr</h2>
      <p class="profile-details">
        Como joven programador con experiencia limitada, estoy enfocado en expandir continuamente mis conocimientos
        y el dominio de nuevas tecnologias. Me destaco por ser una persona dedicada y responsable en busca de 
        un grupo de trabajo unido y dispuesto a crecer. Estoy comprometido a entregar código de alta calidad que 
        satisfaga las necesidades de los clientes y usuarios finales por igual.
      </p>
     <!--Boton editar Acerca de mi -->
     <div class="col" *ngIf="onEdition"> <!-- utilizo ngIf para mostrar u ocultar un elemento HTML (en la pag que ve el usuario) en función de una condición-->
      <button type="button" class="btn pencil" data-bs-toggle="modal" data-bs-target="#acercadeModal">	
        <i class="fa-solid fa-pencil"></i>
      </button>
    <!-- Modal Acerca de mi -->	
      <div class="modal fade modal-lg" id="acercadeModal" tabindex="-1" aria-labelledby="acercadeModalLabel" aria-hidden="true">	
        <div class="modal-dialog modal-content">
          <div class="modal-header">
            <h3 class="modal-title w-100 text-center"> Mi perfil</h3>	 <!--aplico w-100 extraido de la informacion proporcionada en stackoverflow, ya que intente centrarlo de varias formas y no me resultaba exactamente en el medio-->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body pb-0">
            <div class="mb-3">
              <label class="form-group pb-2">Nombre y Apellido</label>
              <div class="col-sm-12"><input type="text" class="form-control">
              </div>
            </div>
            <div class="mb-3">
              <label class="form-group pb-2">Título Académico</label>
              <div class="col-sm-12">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="mb-3">
              <label class="form-group pb-2">Descripción</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
    </div>
      <!-- Casilla-Boton CV-->	
      <button class="profile-btn-cv">Descargar cv</button>
      <!--Botones editar/eliminar-->
     <div class="col" *ngIf="onEdition">	
      <button type="button" class="btn pencil" data-bs-toggle="modal" data-bs-target="#BtnCvModal">	
        <i class="fa-solid fa-pencil"></i>
      </button>
      <button type="button" class="btn trash" data-bs-toggle="modal" data-bs-target="">	
        <i class="fa-solid fa-trash"></i>
      </button>
      <!-- Modal CV-->
     <div class="modal fade" id="BtnCvModal" tabindex="-1" aria-labelledby="BtnCvModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-content">
        <div class="modal-header">
          <h3 class="modal-title w-100 text-center">Casillero - Boton </h3>	 
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>		
        <div class="modal-body">
          <div class="mb-1">
            <label class="form-group pb-2">Título </label>	
          <div class="col-sm-12">
            <input type="text" class="form-control">
          </div>	
        </div>
      </div>
      <div class="modal-footer pb-1 pt-1">
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
</div>
       <!-- IMG Perfil-->	
    <span class="profile-img-section">
      <img class="profile-img" src="../../../../../assets/img/fototraje2.jpg" alt="programador"/> 
     <!--Boton editar IMG Perfil-->
     <div class="col" *ngIf="onEdition">	
      <button type="button" class="btn pencil" data-bs-toggle="modal" data-bs-target="#imgPerfilModal">	
        <i class="fa-solid fa-pencil"></i>
      </button>
      <!-- Modal IMG Perfil-->
     <div class="modal fade" id="imgPerfilModal" tabindex="-1" aria-labelledby="imgPerfilModalLabel" aria-hidden="true">	
   <div class="modal-dialog modal-content">
    <div class="modal-header">
      <h3 class="modal-title w-100 text-center">Imagen de perfil</h3>	 
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>		
       <div class="modal-body">
        <div class="mb-1">
          <label class="form-group pb-2">Nueva imagen</label>	
        <div class="col-sm-12">
          <input class="form-control" type="file" id="formFile">
        </div>
       </div>
     </div>
     <div class="modal-footer pb-1 pt-1">
      <button type="button" class="btn btn-primary">Guardar</button>
    </div>
  </div>
</div>
</div>
</span>
</section>
</div>
</header>
