<div class="horizontal-padding vertical-padding"> <!--Encuadre Desk/Mobile-->
  <section class="profile" id="perfil">
    <div class="profile-info">
      <h3 class="profile-small-title">Bienvenido, soy </h3>
      <h1 class="profile-title">Jonathan García</h1>
      <h2 class="profile-titulo-academico">Desarrolador Full Stack Jr</h2>
      <p class="profile-details">
        Como joven programador con experiencia limitada, estoy enfocado en expandir continuamente mis conocimientos
        y el dominio de nuevas tecnologias. Me destaco por ser una persona dedicada y responsable en busca de 
        un grupo de trabajo unido y dispuesto a crecer. Estoy comprometido a entregar código de alta calidad que 
        satisfaga las necesidades de los clientes y usuarios finales por igual.
      </p>
      <button class="profile-btn-cv">Descargar cv</button>
    </div>
    <span class="profile-img-section">
      <img class="profile-img" src="../../../../assets/img/fototraje2.jpg" alt="programador"/>
    </span>
  </section>
</div>

