
<footer class="footer">
  <div class="container text-center">
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;"> Copyright © 2023. </font>
      </font>
      <a href="#">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;"> Jonathan García </font>
        </font>
      </a>
      <br>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;"> Todos los derechos reservados </font>
      </font>
    </p>
  </div>
</footer>
