
.project-title{
  text-transform: uppercase;
  font-size:4.68rem;
  font-style:oblique;
  font-weight: 900;
  padding:2.5rem;
}
.projects{
  font-family:'Poppins',sans-serif;
}
.project-subtitle{
  font-size: 3rem;
  font-weight: 550;
  padding-top: 1.3rem;
  margin: 0;
}
.project-date{
  display: block;
  color: var(--third-color);
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}
.project-description{
  font-size: 1.1rem;
  padding: 0.6rem 0;
  font-weight: 550;
  padding-bottom: 3rem;
}
.project-body {
  background-color:var(--primary-color);
  color:var(--text-color1);
  border-radius: 0.5rem;
}
.container.text-center{
  padding: 1.5rem;
}
.proyecto-info{
  font-size: 1.3rem;
  font-weight: 550;
}
.img-fluid{
  padding-bottom: 0.6rem;
  border-radius: 1rem;
}

/************* Proyecto Mobile ************/
@media(max-width: 768px) {
.project-title{
  font-size:2.6rem;
  padding-top: 1rem;
  padding-bottom: 0rem;
}
.project-subtitle{ 
  font-size: 1.65rem;
  padding-top: 1rem;
  padding-bottom: 0rem;
}
.proyecto-info{
  font-size: 1.3rem;
  font-weight: 550;
}

.project-date{
  margin-bottom: 0.65rem;
  font-size: 0.8rem;
}
.project-description{
  font-size: 0.9rem;
  padding: 0.4rem 0;
  line-height: 1.25rem;
}}
