<div class="horizontal-padding vertical-padding">
 <section class="proyectos" id="proyectos">
    <div class="container text-center">
      <div class="row">
        <div class="position-relative d-flex align-items-center justify-content-center">
          <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Proyectos</h1>
      </div>
        </div>
        <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio unde tenetur similique eos culpa voluptatem ipsum amet iste reprehenderit
          sint velit deserunt sequi saepe dignissimos suscipit veniam et, quae non?</h4>
      </div>
    </section>
  </div>
    


   